@import 'tailwindcss';

@theme {
	--font-main: var(--font-plus-jakarta-sans);
	--color-primary: #fff;
	--color-secondary: #0f1f3d;

	--color-text: #1a1a2e;
	--color-text-secondary: #204ea1;
	--color-text-muted: #7a88a8;

	--color-border: #c8cad4;
}

@media print {
	@page {
		size: A4;
		margin: 0;
	}

	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	.cv-root {
		width: 210mm;
		min-height: 297mm;
	}
}
