---
import SectionHeader from '@ui/SectionHeader.astro'
---

<section id="about" class="">
	<SectionHeader text="O mnie" variant="side" />

	<div class="text-text-muted font mt-2 space-y-2 text-sm">
		<p class="">Front-end Developer z doświadczeniem w komercyjnych projektach — od projektu w Figmie po wdrożenie.</p>
		<p>Prywatnie sportowiec, który nie odpuszcza ani na treningu, ani przy trudnym zadaniu w pracy.</p>
	</div>
</section>
