---
import SectionHeader from '@ui/SectionHeader.astro'
---

<section id="education" class="pb-10">
	<SectionHeader text="Wykształcenie" />

	<div class="mt-4">
		<div class="flex justify-between">
			<p class="text-text  font-semibold">Technik Programista</p>
			<p class="text-text-secondary text-sm">wrzesień 2021 - kwiecień 2026</p>
		</div>
		<p class="text-text/80 text-sm font-medium">Zespół Szkół Nr 1 im. Stanisława Staszica w Bochni</p>
	</div>
</section>
