---
import { experience } from '@data/index'
import SectionHeader from '@ui/SectionHeader.astro'
---

<section class="flex flex-col gap-2" id="experience">
	<SectionHeader text="Doświadczenie" />

	<div class="mt-2 flex flex-col gap-4">
		{
			experience.map(item => (
				<div class="">
					<div class="flex items-center justify-between">
						<h3 class="text-text text-md font-semibold">{item.role}</h3>
						<p class="text-text-secondary text-sm">{item.date}</p>
					</div>
					<p class="text-text-secondary text-sm font-medium">{item.company}</p>
					<ul class="mt-2 list-inside list-disc pl-2">
						{item.bullets.map(bullet => (
							<li class="text-text/80 text-sm">{bullet}</li>
						))}
					</ul>
				</div>
			))
		}
	</div>
</section>
