---
import Education from './Education.astro'
import Experience from './Experience.astro'
import Projects from './Projects.astro'
---

<main class="flex flex-col gap-6 md:col-span-2 px-8 pl-8 py-4">
	<Experience />
    <Projects />
    <Education />
</main>
