---
import About from './About.astro'
import Interests from './Interests.astro'
import Technologies from './Technologies.astro'
---

<div class="bg-secondary flex flex-col gap-4 px-6 py-4">
	<About />
	<Technologies />
	<Interests />
</div>
