---
import Layout from '../layouts/Layout.astro'
import Header from '@sections/Header.astro'
import Main from '@sections/Main.astro'
import Side from '@sections/Side.astro'
import Footer from '@sections/Footer.astro'

const title = 'CV - Marek Gondek'
---

<Layout title={title}>
	<div class="cv-root w-265">
		<Header />
		<div class="grid grid-cols-1 md:grid-cols-3">
			<Main />
			<Side />
		</div>

		<Footer />
	</div>
</Layout>
