---
interface Props {
	padding?: 'none' | 'small' | 'medium'
	class?: string
}

const { padding = 'medium', class: className }: Props = Astro.props

const paddingClasses = {
	none: '',
	small: 'py-4 sm:py-8',
	medium: 'py-6 sm:py-14',
}
---

<div class:list={[`container mx-auto flex max-w-310 px-4 md:px-8 xl:max-w-7xl`, paddingClasses[padding], className]}>
	<slot />
</div>
