---
interface Props {
	text: string
	variant?: 'main' | 'side'
}

const { text, variant = 'main' } = Astro.props

const variants = {
	main: 'text-text border-border',
	side: 'text-blue-300/80 border-blue-200/30',
}
---

<h2 class:list={[variants[variant], 'w-full border-b py-2  font-semibold tracking-widest uppercase']}>
	{text}
</h2>
